.headerTop {
    height: 28px;
    border-bottom: 1px solid #ddd;
    background: #f5f5f5;
    position: relative;
    z-index: 1002;
}

// 头部上方
.headerTop .headerTop1 {
    color: #717171;
    width: 1214px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // 顶条左边
    .headerTop1-l {
        font-size: 12px;
        width: 255px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .glyphicon {
            color: #68af5c !important;
            margin-left: 3px;
        }
        .shou {
            width: 13px;
            height: 13px;
            background-image: url(../img/lvshou.png);
            margin-left: 5px;
        }
    }
    // 顶条右部
    .headerTop1-r {
        font-size: 12px;
        width: 450px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
            cursor: pointer;
        }
        span:hover {
            color: rgb(86, 122, 241);
        }
        .my {
            position: relative;
            ul {
                position: absolute;
                top: 26px;
                display: none;
                color: #717171;
            }
        }
        .my:hover ul {
            display: block;
        }
        .wenti {
            color: red;
        }
    }
}

// 头部中部
.headerMidlle {
    width: 1214px;
    height: 122px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //搜索框
    .search {
        width: 488px;
        height: 64px;
        .search1 {
            width: 488px;
            height: 36px;
            .search1-l {
                width: 413px;
                height: 36px;
                border: 2px solid #459D36;
                float: left;
            }
            button {
                width: 72px;
                height: 36px;
                border: none;
                background-color: #459D36;
                float: left;
                color: rgb(255, 255, 255);
                font-weight: 900;
            }
        }
        .search2 {
            margin-top: 5px;
            font-size: 14px;
            color: #717171;
            span {
                cursor: pointer;
            }
            span:nth-child(2) {
                color: red;
            }
            span:not(:first-child) {
                margin-left: 2px;
                margin-right: 2px;
            }
            span:not(:first-child):hover {
                color: #000;
            }
        }
    }
    //购物车
    .car {
        width: 130px;
        height: 64px;
        .car1 {
            width: 130px;
            height: 41px;
            display: flex;
            align-items: center;
            overflow: hidden;
            background: #F5F5F5;
            border-radius: 15px;
            box-shadow: 0 0 2px 2px rgb(230, 230, 230);
            cursor: pointer;
            div {
                width: 41px;
                height: 41px;
                float: left;
                border-radius: 15px;
                background: #459d36;
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    color: #fff;
                    font-size: 20px;
                }
            }
            .gou {
                margin-left: 15px;
            }
        }
    }
}

// 头部下方
.header-d {
    width: 1214px;
    height: 36px;
    margin: 0 auto;
}

.header-Dl {
    float: left;
    width: 232px;
    height: 36px;
    span {
        float: left;
        width: 115px;
        height: 36px;
        border: 1px solid #ccc;
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        p {
            margin: 0;
        }
    }
    span:hover {
        background-color: #E95A49;
        color: #fff;
    }
}

.header-Df {
    float: left;
    width: 950px;
    overflow: hidden;
    li {
        float: left;
        width: 120px;
        height: 36px;
        padding: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-weight: 900;
        b {
            display: inline-block;
            width: 13px;
            height: 17px;
            background: url(../img/gutou.png);
            vertical-align: middle;
            margin-top: -2px;
            margin-right: 6px;
        }
        a {
            color: #000;
            text-decoration: none
        }
        a:hover {
            color: #459D36;
        }
        a:hover b {
            transform: rotate(360deg);
            transition: .2s;
        }
    }
}

//列表中部
main {
    width: 1214px;
    margin: 0 auto;
    overflow: hidden;
    ul {
        li {
            width: 215px;
            height: 354px;
            padding: 5px;
            float: left;
            margin: 10px;
            border: 1px solid #e7e7e7;
            display: flex;
            align-items: center;
            font-size: 14px;
            position: relative;
            a {
                text-decoration: none !important;
                color: #000;
            }
            img {
                margin-top: -10px;
            }
            span {
                display: inline-block;
                margin-top: 20px;
            }
            p {
                color: red;
                margin: 20px 70px 0 70px;
            }
            input {
                position: absolute;
                bottom: 5px;
                right: 70px;
            }
        }
    }
}

//尾部
footer {
    width: 100%;
    margin-top: 32px;
    background-color: #f5f5f5;
    .footer1 {
        margin: 0 auto;
        width: 1214px;
        height: 460px;
        //尾部上方
        .footer1-t {
            width: 1214px;
            height: 102px;
            border-bottom: 1px solid #e7e7e7;
            li {
                float: left;
                width: 202px;
                height: 102px;
                display: flex;
                align-items: center;
                font-size: 18px;
                font-weight: 900;
                position: relative;
                overflow: hidden;
                img {
                    width: 62px;
                    height: 62px;
                }
                a {
                    position: relative;
                    width: 202px;
                    height: 90px;
                    display: block;
                    color: rgb(48, 48, 48);
                    text-decoration: none;
                    transition: .6s;
                    top: 12px;
                }
            }
            li:hover a {
                color: #9c3131;
                top: 6px;
            }
        }
        //尾部中部
        .footer1-m {
            width: 1214px;
            height: 188px;
            border-bottom: 1px solid #e7e7e7;
            display: flex;
            align-items: center;
            justify-content: space-between;
            div {
                height: 133px;
                color: #666;
            }
            p {
                margin: 0;
            }
            div:not(:nth-child(1)) {
                h2 {
                    font-size: 14px;
                    font-weight: 700;
                }
                p {
                    font-size: 14px;
                    font-weight: 500;
                    margin-top: 5px;
                }
                a {
                    color: #666;
                }
                p:nth-child(1) {
                    margin-top: 20px;
                }
                p:hover a {
                    color: #a73222;
                }
            }
            div:nth-child(1) {
                div {
                    float: left;
                    margin-left: 30px;
                }
                img {
                    float: left;
                }
                h2 {
                    font-size: 14px;
                    font-weight: 700;
                }
                p {
                    font-size: 18px;
                    font-weight: 700;
                    span {
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
                p:nth-child(4) {
                    font-size: 14px;
                    font-weight: 500;
                }
            }
            div:nth-child(5) {
                // display: flex;
                // justify-content: center;
                p {
                    font-size: 12px;
                    text-align: center;
                    margin-top: 0;
                    color: #000;
                }
                p:nth-child(1) {
                    margin-top: 0;
                }
                img {
                    margin-top: 5px;
                }
            }
            div:nth-child(5) {
                p {
                    font-size: 12px;
                    text-align: center;
                    margin-top: 0;
                    color: #000;
                }
                p:nth-child(1) {
                    margin-top: 0;
                }
                img {
                    margin-top: 5px;
                }
            }
            div:nth-child(6) {
                p {
                    font-size: 12px;
                    text-align: center;
                    margin-top: 0;
                    color: #000;
                }
                p:nth-child(1) {
                    margin-top: 0;
                }
                img {
                    margin-top: 5px;
                }
            }
        }
        //尾部下方
        .footer1-b {
            width: 1214px;
            div {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 20px;
            }
            div:nth-child(1) {
                width: 1214px;
                span {
                    margin-left: 10px;
                    font-size: 12px;
                    a {
                        color: #999;
                    }
                    img {
                        width: 18px;
                        height: 18px;
                    }
                }
                span:hover a {
                    color: rgb(231, 53, 53);
                }
            }
            div:nth-child(2) {
                a {
                    margin-right: 3px;
                }
                img {
                    width: 82px;
                    height: 28px;
                }
            }
            div:nth-child(3) {
                font-size: 12px;
                span {
                    margin-left: 10px;
                }
                a {
                    color: #000;
                }
                span:not(:nth-child(5)):hover a {
                    color: #ee2a2af3;
                }
            }
        }
    }
}